<body>
    <div class="container-fluid ">
        <div class="row">

            <div class="col-sm container-fluid1">

            </div>
            <div class="col-sm container-fluid2">
                <div class="udlogo"></div>
                <!-- <img src="logo_ud.png" alt="" class="udlogo"> -->
                <h3 class="title">University of Dar es salaam</h3>
                <h4>Electronics and Telecommunications Engineering community</h4>
                <h4 class="getstarted">Get started as</h4>

                <button type="button" class="space "><a routerLink="/logins/stafflogin">Staff </a></button>
                <button type="button"><a  routerLink="/logins/studentlogin">Students</a></button>
                <button type="button" class="button1"><a routerLink="/logins/guestsignup">Guest</a></button>
            </div>
        </div>
    </div>
</body>